#output_part{
    display: flex;
    flex-direction: row;
  }

  #container{
    display: flex;
    flex-direction: column;
  }
  
  .input_part__container{
    display: flex;
    flex-direction: row;
  }

.input_part__container_input{
  width: 100%
}

  .inner{
    display: flex;
    flex-direction: row;
  }
  
  textarea{
    word-break: break-word;
    /* height: 100%; */
    width: 46%;
  }
  
  .btb_container{
    height: 100vh;
      background-color: burlywood;
      display: flex;
      align-items: center;
      justify-content: center;
      position: fixed;
      left: 46%;
      width: 8%;
      flex-direction: column;
    }
  
  .btb{
    /* width: 68px; */
    height: 32px;
    background-color: aqua;
    color: black;
    font-size: 1rem;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    display: flex;
    margin-top: 10px;
    border-radius: 10px;}
  
  .copy_btb{
    background-color:forestgreen;
    color: white;
    cursor: pointer;
  }
  .delete_btb{
    background-color:red;
    color: white;
    cursor: pointer;
  }
  
  .output{
    right:-128px;
    position: relative;}