<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link href="/scss/index.css" type="text/css" rel="stylesheet" />
  </head>
  <body>
    <div id="container">
      <form class="input_part__container" action="/URL" method="GET">
        <div
          style="
            padding: 15px;
            border: 1px solid black;
            text-align: center;
            justify-self: center;
            cursor: pointer;
          "
          onclick="pasteContent()"
        >
          Each
        </div>
        <input
          type="text"
          placeholder="User Name"
          class="input_part__container_input"
          id="each"
          name="URL"
        />
        <!-- <textarea  cols="140" rows="3"></textarea> -->
        <button style="width: 30%" type="submit">Click</button>
      </form>
      <form class="input_part__container" action="/AllURL/0" method="get">
        <div
          style="
            padding: 15px;
            border: 1px solid black;
            text-align: center;
            justify-self: center;
            cursor: pointer;
          "
          onclick="pasteContentAll()"
        >
          All
        </div>
        <input
          type="text"
          placeholder="User Name"
          class="input_part__container_input"
          id="all"
          name="URL"
        />
        <button style="width: 20%" type="submit">Click</button>
      </form>
      <form class="input_part__container" action="/check" method="get">
        <div
          style="
            padding: 15px;
            border: 1px solid black;
            text-align: center;
            justify-self: center;
            cursor: pointer;
          "
          onclick="pasteContentCheck()"
        >
          All
        </div>
        <input
          type="text"
          placeholder="User Name"
          class="input_part__container_input"
          id="check"
          name="URL"
        />
        <button style="width: 20%" type="submit">Check</button>
      </form>
      <div>
        <button type="button" class="navi_btb" onclick="compareLaw()">
          Compare law Array
        </button>
        <button type="button" class="navi_btb" onclick="getAllLawId()">
          Get all law ID
        </button>
        <button type="button" class="navi_btb" onclick="getAllLawObjectPair()">
          Get all ObjectPair
        </button>
        <button type="button" class="navi_btb" onclick="getMissingLaw()">
          Get Missing Law
        </button>
        <button type="button" class="navi_btb" onclick="addInfo()">
          add Info
        </button>
        <button
          type="button"
          class="navi_btb"
          onclick="createLawSearchDescrpition()"
        >
          create LawSearchDescrpition
        </button>
      </div>

      <form class="input_part__container" action="/abc" method="get">
        <button
          style="
            width: 100%;
            height: 100px;
            cursor: pointer;
            background-color: #42423b87;
            border-radius: 68px;
            color: white;
            font-weight: 900;
            cursor: pointer;
          "
          type="submit"
        >
          Get new law Object
        </button>
      </form>

      <!-- <form class="input_part__container" action="/cde" method="get">
        <button style="width: 100%;height:100px;cursor: pointer;background-color: #42423b87;
        border-radius: 68px;
        color: white;
        font-weight: 900;
        cursor: pointer" type="submit">cde</button>
      </form> -->
    </div>
  </body>
  <script type="text/javascript" src="./js/main.js"></script>
</html>
