<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="./scss/index.css" type="text/css" rel="stylesheet">
</head>
<script>

</script>
<body>
  <div id="container">
    <form class="input_part__container"  action="/URL" method="GET">
      <span style="padding: 15px;border: 1px solid black;text-align: center;justify-self: center;">
        URL
      </span>
      <input type="text" placeholder="User Name" class="input_part__container_input"  name="URL"> 
      <!-- <textarea  cols="140" rows="3"></textarea> -->
      <button type="submit">
        Click
      </button>
    </form>
    <!-- <div id="output_part">
        <textarea class="input" cols="90" rows="45"></textarea>
        <div class="btb_container">
          <div class="btb" >
            Covert
          </div>
          <div class="btb copy_btb" >
            Copy
          </div>
          <div class="btb delete_btb" >
            Delete
          </div>
  
        </div>
        <textarea class="output" cols="90" rows="45"></textarea>
    </div> -->
  </div>
  </body>
  <script type="text/javascript" src="./js/main.js"></script>

</html>