<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link href="/scss/index.css" type="text/css" rel="stylesheet" />
  </head>

  <body>
    <div id="container">
      <div id="inner_container">
        <div id="input_container">
          <Span>lawNumber</Span>
          <table>
          <!-- <textarea class="input_area" id="content_input"> -->
            <% for (const item of Object.keys(content)) { %>
            <tr>
              <td style="border-width: 1px;border-color: black;border-style: solid;">
                <%= item  %>
              </td>
              <td style="border-width: 1px;border-color: black;border-style: solid;">
                <%= content[item] %>
              </td>
              <td style="border-width: 1px;border-color: black;border-style: solid;">
            <a href="/URL?URL=<%= content[item] %>" target="_blank">Mở trang Example trong tab mới</a>              </td>
            </tr>
              <% } %>
</table>
          <!-- </textarea> -->
        </div>
      </div>
    </div>
  </body>
  <script type="text/javascript" src="/js/jquery.js"></script>
  <script type="text/javascript" src="/js/main.js"></script>
</html>
